!!! XML
!!! 1.1

%html{html_attrs('fr-fr')}
  %head
    %title=project_name
    %link(rel='stylesheet' type='text/css' href='/stylesheet.css')
    /[if IE]
      %script(src='/libs/excanvas.compiled.js')
    %script(src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js')
    / %script(src='/libs/base64.js')
    / %script(src='/libs/canvas2image.js')
    / %script(src='/libs/canvastext.js')
    / %script(src='/libs/flotr.js')
    %script(src='/js/main.js')
  %body
    %h1=project_name
    #noticebar.loading Loading bunch of stuff...
    #main_interface.hidden
      .browser
        .folders
          .list
          %form.add(method='post')
            %input(type='hidden' name='_method' value='put')
            %input.name(type='text' name='name')
            %input.add(type='submit' value='+')
        .files
          .list
          %form.add(method='post')
            %input(type='hidden' name='_method' value='put')
            %input.name(type='text' name='name')
            %input.add(type='submit' value='+')
    :javascript
      wt_start();