!!! XML
!!! 1.1

%html{html_attrs('fr-fr')}
  %head
    %title=project_name
    %link(rel='stylesheet' type='text/css' href='/stylesheet.css')/
    /[if IE]
      %script(src='/libs/excanvas.compiled.js')
  %body
    %h1=project_name
    %p.notice Loading the whole JavaScript thingy...
    .main
      .browser
        .folders
          .list
          %form.add(method='post')
            %input(type='hidden' name='_method' value='put')
            %input.name(type='text' name='name')
            %input.add(type='submit' value='+')
        .files
          .list
          %form.add(method='post')
            %input(type='hidden' name='_method' value='put')
            %input.name(type='text' name='name')
            %input.add(type='submit' value='+')
    %script(src='http://www.google.com/jsapi')
    :javascript
      google.load('jquery', '1.3.2');
      google.setOnLoadCallback(function() {
        $.getScript("/js/main.js", function() {
          wt_start();
        });
      });