!!! XML
!!! 1.1
%html{html_attrs('fr-fr')}
  %head
    %title=project_name
    %link(rel='stylesheet' type='text/css' href='/stylesheet.css')
  %body
    #header
      %h1
        %a(href='/')=project_name
      %ul#navigation
        %li
          %a(href='?locale=en')
            %span.english.icon English
        %li
          %a(href='?locale=fr')
            %span.french.icon Français
        %li
          %a(href='http://wiki/VROUMS')
            %span.wiki.icon Wiki
        %li
          %a(href='/help')
            %span.help.icon README
    #main
      #messagebar.loading
        Loading...
      =yield
    #footer
      Copyright &copy; 2009
      %a(href='http://www.3ds.com/') Dassault Systèmes
